<library path="src">
  <class name="IWOS Control Plugin" type="tuw_iwos_control_plugin.tuw_iwos_control_plugin.ControlPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      IWOS Control Plugin
    </description>
    <qtgui>
      <group>
        <label>IWOS</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins for IWOS</statustip>
      </group>
      <label>IWOS Control</label>
      <icon type="theme">input-gaming</icon>
      <statustip>IWOS Control Plugin</statustip>
    </qtgui>
  </class>
</library>