<launch>

  <arg name="revolute_topic" default="iwos_state_revolute"/>
  <arg name="steering_topic" default="iwos_state_steering"/>

  <node name="IWOS_JOINTS_STATES" pkg="tuw_iwos_joints_states" type="joints_states_node"
    required="true" output="screen" args="$(arg revolute_topic) $(arg steering_topic)">
  </node>

</launch>