<launch>

  <arg name="model" default="$(find tuw_iwos_robot_description)/urdf/iwos.xml"/>

  <include file="$(find tuw_iwos_robot_description)/launch/robot_description_publisher.launch">
    <arg name="model" value="$(arg model)"/>
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <remap from="joint_states" to="iwos_state_joints"/>
    <param name="publish_frequency" type="double" value="30.0"/>
  </node>

</launch>