<library path="src">
  <class name="IWOS Steering and Revolute Plugin" type="tuw_iwos_revolute_and_steering_plugin.tuw_iwos_revolute_and_steering_plugin.RevoluteAndSteeringPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      IWOS Revolute and Steering Plugin
    </description>
    <qtgui>
      <group>
        <label>IWOS </label>
        <icon type="theme">folder</icon>
        <statustip>Plugins for IWOS</statustip>
      </group>
      <label>IWOS Revolute and Steering Plugin</label>
      <icon type="theme">input-gaming</icon>
      <statustip>IWOS Revolute and Steering Plugin</statustip>
    </qtgui>
  </class>
</library>