<launch>

  <arg name="joint_state_hz" default="20"/>

  <param name="joint_state_hz" value="$(arg joint_state_hz)"/>

  <include file="$(find tuw_iwos_controller_steering)/launch/controller_with_device.launch"/>
  <include file="$(find tuw_iwos_controller_revolute)/launch/controller_with_device.launch"/>

</launch>