<launch>

  <include file="$(find tuw_trinamic_iwos_revolute_controller)/launch/iwos_revolute_controller.launch"/>

  <include file="$(find tuw_dynamixel_iwos_steering_controller)/launch/iwos_steering_controller.launch"/>

  <node name="tuw_iwos_revolute_and_steering_plugin" pkg="tuw_iwos_revolute_and_steering_plugin" type="tuw_iwos_revolute_and_steering_plugin"/>

</launch>