<launch>

  <arg name="gamepad" default="true"/>
  <arg name="laser" default="true"/>

  <group if="$(arg gamepad)" >
    <include file="$(find tuw_iwos_launches)/launch/gamepad.launch"/>
  </group>

  <group if="$(arg laser)" >
    <include file="$(find tuw_iwos_launches)/launch/laser.launch"/>
  </group>

  <include file="$(find tuw_iwos_robot_description)/launch/robot_description_publisher.launch"/>
  <include file="$(find tuw_iwos_robot_description)/launch/robot_state_publisher.launch"/>
  <include file="$(find tuw_iwos_hardware)/launch/tuw_iwos_hardware_node.launch"/>
  <include file="$(find tuw_iwos_hardware_broker)/launch/tuw_iwos_hardware_broker_node.launch"/>

  <include file="$(find tuw_iwos_odometer)/launch/tuw_iwos_odometer_node.launch"/>

</launch>