<launch>

  <arg name="gamepad"     default="true"/>
  <arg name="laser"       default="true"/>
  <arg name="imu"         default="true"/>
  <arg name="imu_filter"  default="true"/>
  <arg name="odom"        default="true"/>
  <arg name="rviz"        default="true"/>

  <group if="$(arg gamepad)">
    <include file="$(find tuw_iwos_launches)/launch/device/gamepad.launch"/>
  </group>

  <group if="$(arg laser)">
    <include file="$(find tuw_iwos_launches)/launch/device/laser.launch"/>
  </group>

  <group if="$(arg imu)">
    <include file="$(find tuw_sensor_transducer)/launch/imu.launch">
      <arg name="imu_filter" value="$(arg imu_filter)"/>
    </include>
  </group>

  <include file="$(find tuw_iwos_robot_description)/launch/robot_description_publisher.launch"/>
  <include file="$(find tuw_iwos_robot_description)/launch/robot_state_publisher.launch"/>
  <include file="$(find tuw_iwos_hardware)/launch/tuw_iwos_hardware_node.launch"/>
  <include file="$(find tuw_iwos_hardware_broker)/launch/tuw_iwos_hardware_broker_node.launch"/>
  <include file="$(find tuw_iwos_motion_controller)/launch/motion_controller_node.launch"/>

  <group if="$(arg odom)">
    <include file="$(find tuw_iwos_odometer)/launch/tuw_iwos_odometer_node.launch"/>
  </group>

  <group if="$(arg rviz)">
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find tuw_iwos_launches)/rviz/iwos.rviz" />
  </group>

</launch>