<library path="src">
  <class name="IWOS Plugin" type="tuw_iwos_plugin.tuw_iwos_plugin.IWOSPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      IWOS Plugin
    </description>
    <qtgui>
      <group>
        <label>IWOS </label>
        <icon type="theme">folder</icon>
        <statustip>Plugins for IWOS</statustip>
      </group>
      <label>IWOS Plugin</label>
      <icon type="theme">input-gaming</icon>
      <statustip>IWOS Plugin</statustip>
    </qtgui>
  </class>
</library>